table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #ccc;
}
tr {
  cursor: pointer;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-view {
  overflow-y: scroll;
  height: 450px;
}
canvas {
  min-height: 450px;
}
